.vs
bin
obj
*.dbmdl
*.jfm

*.env
*.user
Nebula.Web/wwwroot/
Hotfixes
/_ReSharper.Caches

Nebula.Web/src/assets/config.json
Nebula.API/appsecrets.json
Nebula.GeoServer/data_dir/geoserver-environment.properties
Nebula.GeoServer/data_dir/.updatepassword.lock
Nebula.GeoServer/data_dir/security/*
Nebula.Web/.vscode

/Build/secrets.ini
/Build/temp/NebulaDB.bacpac
/Nebula.GeoServer/data_dir/gwc/diskquota_page_store_hsql
/Nebula.GeoServer/data_dir/logs/geoserver.log
/Nebula.GeoServer/data_dir/gwc/diskquota_page_store_hsql/diskquota.data
/Nebula.GeoServer/data_dir/gwc/diskquota_page_store_hsql/diskquota.properties
/Nebula.GeoServer/data_dir/gwc/diskquota_page_store_hsql/diskquota.script
