.vs
bin
obj
*.dbmdl
*.jfm

*.env
*.user
Nebula.Web/wwwroot/
Hotfixes
/_ReSharper.Caches

Nebula.Web/src/assets/config.json
Nebula.API/appsecrets.json
Nebula.GeoServer/data_dir/geoserver-environment.properties
Nebula.GeoServer/data_dir/.updatepassword.lock
Nebula.GeoServer/data_dir/security/*
Nebula.Web/.vscode
Nebula.Web/package-lock.json

/Build/secrets.ini
/Build/temp/NebulaDB.bacpac