<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-empty">
                <li class="breadcrumb-item active" aria-current="page">Data Download</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container">

    <app-alert-display></app-alert-display>

    <div class="row">
        <div class="col">
            <h2 class="d-inline-block">Data Dashboard</h2>
        </div>
    </div>
    <div class="row mt-1 mb-2">
        <div class="col">
            <custom-rich-text [customRichTextTypeID]="richTextTypeID"></custom-rich-text>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-sm-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header text-center">
                    Station Selection
                </div>
                <div class="card-body table-responsive">
                    <div class="row">
                        <div class="col-sm-8">
                            <div #mapDiv id={{mapID}} class="location-card" [style.min-height]="mapHeight"
                                style="height:100%"></div>
                        </div>
                        <div class="col-sm-4">
                            <ng-container *ngIf="!selectedSiteName">
                                <p>Click a station on the map to get started!</p>
                            </ng-container>
                            <ng-container *ngIf="selectedSiteName">
                                <dl class="row">
                                    <dt class="text-sm-left col-sm-6 col-xs-12">Selected Station:</dt>
                                    <dd class="col-sm-6 col-xs-12">
                                        {{selectedSiteName}}
                                    </dd>
                                </dl>
                                <dl class="row">
                                    <dt class="text-sm-left col-sm-6 col-xs-12">Data Available:</dt>
                                </dl>
                                <dl class="row" style="max-height:600px; overflow-y:auto">
                                    <dt *ngIf="gettingAvailableVariables"
                                        class="text-sm-left col-sm-9 offset-sm-1 col-xs-12">
                                        Fetching available variables <span class="fa fa-spinner loading-spinner"></span>
                                    </dt>
                                    <ng-container *ngIf="!gettingAvailableVariables">
                                        <span class="text-sm-left col-sm-11 offset-sm-1 col-xs-12 mb-1"
                                            *ngIf="!siteSelectedAndVariablesFound()">No variables found for selected
                                            station. Please make another selection</span>
                                        <ng-container *ngIf="siteSelectedAndVariablesFound()">
                                            <dt class="text-sm-left col-sm-11 offset-sm-1 col-xs-12 mb-1"
                                                *ngFor="let variable of selectedSiteAvailableVariables">
                                                <div class="row no-gutters">
                                                    <div class="col-9">
                                                        {{variable.name}}
                                                        <br />
                                                        <small style="font-weight:400"
                                                            *ngIf="variable.startDate != null && variable.endDate != null">Record:
                                                            {{variable.startDate}} -
                                                            {{variable.endDate}}</small>
                                                    </div>
                                                    <div class="col-3 align-self-center text-center"
                                                        *ngIf="variableNotPresentInSelectedVariables(variable)">
                                                        <button class="btn btn-nebula"
                                                            (click)="addVariableToSelection(variable)">Add</button>
                                                    </div>
                                                </div>
                                            </dt>
                                        </ng-container>
                                    </ng-container>
                                </dl>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-sm-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header text-center">
                    Selected Data
                </div>
                <div class="card-body table-responsive">
                    <ngContainer *ngIf="selectedVariables.length > 0">
                        <div *ngFor="let variable of selectedVariables"
                            style="display:inline-block; background-color:#B0D2A1; color: white; border:2px solid green; border-radius:20px">
                            <span>{{variable.stationShortName}} - {{variable.name}}</span>
                        </div>
                    </ngContainer>
                    <span *ngIf="selectedVariables.length == 0"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-sm-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header text-center" #timeSeriesCard>
                    Timeseries View and Download
                </div>
                <div class="card-body table-responsive">
                    <div *ngIf="!selectedSiteName" class="row">
                        <div class="col text-center">
                            Select a station on the map to get started!
                        </div>
                    </div>
                    <div *ngIf="selectedSiteName && gettingAvailableVariables" class="row">
                        <div class="col text-center">
                            Fetching available variables <span class="fa fa-spinner loading-spinner"></span>
                        </div>
                    </div>
                    <div *ngIf="selectedSiteName && !gettingAvailableVariables" class="row">
                        <div *ngIf="!siteSelectedAndVariablesFound()" class="col-12">
                            <p>No variables found for selected station. Please make another selection</p>
                        </div>
                        <div *ngIf="siteSelectedAndVariablesFound()" class="col-6">
                            <form [formGroup]="timeSeriesForm" (ngSubmit)="onSubmit()" class="form-inline">
                                <div *ngIf="errorMessage" class="alert alert-danger">
                                    {{errorMessage}}
                                </div>
                                <div class="form-group w-100 mb-1">
                                    <label for="startDate"
                                        class="col-lg-6 col-form-label required justify-content-start justify-content-lg-end">Start
                                        Date</label>
                                    <div class="input-group col-lg-6">
                                        <input formControlName="startDate" id="startDate" type="text" ngbDatepicker
                                            #start="ngbDatepicker" placeholder="yyyy-mm-dd" (click)="start.toggle()"
                                            class="form-control">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="start.toggle()"
                                                type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                        </div>
                                    </div>

                                    <div *ngIf="f.startDate.touched && f.startDate.invalid" class="alert alert-danger">
                                        <div *ngIf="f.startDate.errors.required">Date is required.</div>
                                        <!-- <div *ngIf="f.date.errors.pattern">Date must be in the format 'yyyy-mm-dd'</div> -->
                                    </div>
                                </div>
                                <div class="form-group w-100 mb-1">
                                    <label for="endDate"
                                        class="col-lg-6 col-form-label required justify-content-start justify-content-lg-end">End
                                        Date</label>
                                    <div class="input-group col-lg-6">
                                        <input formControlName="endDate" id="endDate" type="text" ngbDatepicker
                                            #end="ngbDatepicker" placeholder="yyyy-mm-dd" (click)="end.toggle()"
                                            class="form-control">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="end.toggle()"
                                                type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                        </div>
                                    </div>

                                    <div *ngIf="f.endDate.touched && f.endDate.invalid" class="alert alert-danger">
                                        <div *ngIf="f.endDate.errors.required">Date is required.</div>
                                        <!-- <div *ngIf="f.date.errors.pattern">Date must be in the format 'yyyy-mm-dd'</div> -->
                                    </div>
                                </div>
                                <ngContainer formArrayName="siteVariablesToQuery">
                                    <ngContainer *ngFor="let control of siteVariablesToQuery().controls; let i=index"
                                        [formGroupName]="i">
                                        <div class="form-group w-100 mb-1">
                                            <label for="timeInterval"
                                                class="col-lg-6 col-form-label required justify-content-start justify-content-lg-end">
                                                <field-definition [fieldDefinitionType]="'TimeInterval'">
                                                </field-definition>
                                            </label>
                                            <div class="col w-100">
                                                <select formControlName="timeInterval" id="timeInterval"
                                                    class="form-control">
                                                    <option *ngFor="let interval of hydstraIntervals"
                                                        [value]="interval.value">
                                                        {{interval.display}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group w-100 mb-1">
                                            <label for="filter"
                                                class="col-lg-6 col-form-label required justify-content-start justify-content-lg-end">
                                                Filter
                                                <!-- <field-definition [fieldDefinitionType]="'TimeInterval'"></field-definition> -->
                                            </label>
                                            <div class="col w-100">
                                                <select formControlName="filter" id="filter" class="form-control">
                                                    <option *ngFor="let filter of hydstraFilters"
                                                        [value]="filter.value">
                                                        {{filter.display}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group w-100 mb-1">
                                            <label for="aggregationMode"
                                                class="col-lg-6 col-form-label required justify-content-start justify-content-lg-end">
                                                <field-definition [fieldDefinitionType]="'AggregationMode'">
                                                </field-definition>
                                            </label>
                                            <div class="col-lg-6">
                                                <select formControlName="aggregationMode" id="aggregationMode"
                                                    class="form-control">
                                                    <option
                                                        *ngFor="let mode of getAvailableAggregationModes(control.value.variable)"
                                                        [value]="mode.value">
                                                        {{mode.display}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </ngContainer>
                                </ngContainer>
                                <div class="ml-auto">
                                    Required Field <i class="fas fa-bolt"></i>
                                    <br />
                                    <button type="submit" class="btn btn-nebula btn-sm mt-4 float-right"
                                        [disabled]="isPerformingAction">
                                        <span *ngIf="isPerformingAction" class="fa fa-spinner loading-spinner"></span>
                                        Submit</button>
                                </div>
                            </form>
                        </div>
                        <div *ngIf="siteSelectedAndVariablesFound()" class="col-6">
                            <ngContainer *ngIf="!vegaSpec && !errorOccurred">
                                <span *ngIf="isPerformingAction">Loading chart values <span
                                        class="fa fa-spinner loading-spinner"></span></span>
                                <span *ngIf="!isPerformingAction && !gettingAvailableVariables">Choose some metrics to
                                    get started</span>
                            </ngContainer>
                            <span *ngIf="errorOccurred">Operation was unsuccessful. Please make another selection and
                                try again.</span>
                            <div [ngStyle]="{'visibility':vegaSpec ? '' : 'hidden'}" id="vis" style="width:100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>