<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-empty">
                <li class="breadcrumb-item active" aria-current="page">Data Download</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container">

    <app-alert-display></app-alert-display>

    <div class="row">
        <div class="col">
            <h2 class="d-inline-block">Data Dashboard</h2>
        </div>
    </div>
    <div class="row mt-1 mb-2">
        <div class="col">
            <custom-rich-text [customRichTextTypeID]="richTextTypeID"></custom-rich-text>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-sm-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header text-center">
                    Gage Selection
                </div>
                <div class="card-body table-responsive">
                    <div class="row">
                        <div class="col-sm-8">
                            <div #mapDiv id={{mapID}} class="location-card" [style.min-height]="mapHeight"
                                style="height:100%"></div>
                        </div>
                        <div class="col-sm-4">
                            <ng-container *ngIf="!selectedSiteName">
                                <p>Click a station on the map to get started!</p>
                            </ng-container>
                            <ng-container *ngIf="selectedSiteName">
                                <dl class="row">
                                    <dt class="text-sm-left col-sm-5 col-xs-12">Selected Site:</dt>
                                    <dd class="col-sm-7 col-xs-12">
                                        {{selectedSiteName}}
                                    </dd>
                                </dl>
                                <dl class="row">
                                    <dt class="text-sm-left col-sm-6 col-xs-12">Data Available:</dt>
                                </dl>
                                <dl class="row" style="max-height:600px; overflow-y:auto">
                                    <dt *ngIf="gettingAvailableVariables" class="text-sm-left col-sm-9 offset-sm-1 col-xs-12">
                                        Fetching available variables <span class="fa fa-spinner loading-spinner"></span>
                                    </dt>
                                    <ng-container *ngIf="!gettingAvailableVariables">
                                        <dt class="text-sm-left col-sm-9 offset-sm-1 col-xs-12" *ngFor="let variable of selectedSiteAvailableVariables">
                                            {{variable.name}}
                                            <br/>
                                            <span style="font-weight:400">Record: {{variable.startDate}} - {{variable.endDate}}</span>
                                        </dt>
                                    </ng-container>
                                    
                                </dl>
                                <div class="text-center">

                                    <button class="btn btn-nebula" (click)="triggerTimeSeriesAndScrollIntoView(timeSeriesCard)">View Timeseries Data</button>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-sm-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header text-center">
                    Selected Data
                </div>
                <div class="card-body table-responsive">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-sm-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header text-center" #timeSeriesCard>
                    Timeseries View and Download
                </div>
                <div class="card-body table-responsive">
                    <div *ngIf="!selectedSiteName" class="row">
                        <div class="col text-center">
                            Select a station on the map to get started!
                        </div>
                    </div>
                    <div *ngIf="selectedSiteName" class="row">
                        <div class="col-6">
                            <form [formGroup]="timeSeriesForm" (ngSubmit)="onSubmit()" class="form-inline">
                                <div *ngIf="errorMessage" class="alert alert-danger">
                                    {{errorMessage}}
                                </div>
                                <div class="form-group w-100 mb-1">
                                    <label for="startDate"
                                        class="col-lg-6 col-form-label required justify-content-start justify-content-lg-end">Start
                                        Date</label>
                                    <div class="input-group col-lg-6">
                                        <input formControlName="startDate" id="startDate" type="text" ngbDatepicker
                                            #start="ngbDatepicker" placeholder="yyyy-mm-dd" (click)="start.toggle()"
                                            class="form-control">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="start.toggle()"
                                                type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                        </div>
                                    </div>

                                    <div *ngIf="f.startDate.touched && f.startDate.invalid" class="alert alert-danger">
                                        <div *ngIf="f.startDate.errors.required">Date is required.</div>
                                        <!-- <div *ngIf="f.date.errors.pattern">Date must be in the format 'yyyy-mm-dd'</div> -->
                                    </div>
                                </div>
                                <div class="form-group w-100 mb-1">
                                    <label for="endDate"
                                        class="col-lg-6 col-form-label required justify-content-start justify-content-lg-end">End
                                        Date</label>
                                    <div class="input-group col-lg-6">
                                        <input formControlName="endDate" id="endDate" type="text" ngbDatepicker
                                            #end="ngbDatepicker" placeholder="yyyy-mm-dd" (click)="end.toggle()"
                                            class="form-control">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="end.toggle()"
                                                type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                        </div>
                                    </div>

                                    <div *ngIf="f.endDate.touched && f.endDate.invalid" class="alert alert-danger">
                                        <div *ngIf="f.endDate.errors.required">Date is required.</div>
                                        <!-- <div *ngIf="f.date.errors.pattern">Date must be in the format 'yyyy-mm-dd'</div> -->
                                    </div>
                                </div>
                                <div class="form-group w-100 mb-1">
                                    <label for="aggregationMode"
                                        class="col-lg-6 col-form-label required justify-content-start justify-content-lg-end">Aggregation Mode
                                    </label>
                                    <div class="col-lg-6">
                                        <select formControlName="aggregationMode" id="aggregationMode"
                                            class="form-control">
                                            <option *ngFor="let mode of hydstraAggregationModes" [value]="mode.value">
                                                {{mode.display}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group w-100 mb-1">
                                    <label for="interval"
                                        class="col-lg-6 col-form-label required justify-content-start justify-content-lg-end">Interval
                                    </label>
                                    <div class="col w-100">
                                        <select formControlName="interval" id="interval" class="form-control">
                                            <option *ngFor="let interval of hydstraIntervals" [value]="interval.value">
                                                {{interval.display}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group w-100 mb-1">
                                    <label for="intervalMultiplier"
                                        class="col-lg-6 col-form-label required justify-content-start justify-content-lg-end">Interval Multiplier
                                    </label>
                                    <div class="col w-100">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <input style="width:100%" formControlName="intervalMultiplier"
                                                    id="intervalMultiplier" type="number"
                                                    (keypress)="catchExtraSymbols($event)"
                                                    (paste)="catchPastedSymbols($event)" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="f.intervalMultiplier.touched && f.intervalMultiplier.invalid"
                                        class="alert alert-danger">
                                        <div *ngIf="f.intervalMultiplier.errors.required">Interval Duration is
                                            required.</div>
                                        <div *ngIf="f.intervalMultiplier.errors.min">Interval Duration must be greater
                                            than or equal to 1.</div>
                                        <div *ngIf="f.intervalMultiplier.errors.max">Interval Duration must be less than
                                            2147483647.</div>
                                    </div>
                                </div>
                                <div class="ml-auto">
                                    Required Field <i class="fas fa-bolt"></i>
                                    <br/>
                                    <button type="submit" class="btn btn-nebula btn-sm mt-4 float-right" [disabled]="isPerformingAction">
                                        <span *ngIf="isPerformingAction" class="fa fa-spinner loading-spinner"></span>
                                        Submit</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-6">
                            <div id="vis" style="width:100%">
                                <span *ngIf="!vegaSpec">{{isPerformingAction ? "Loading chart values..." : "Choose some metrics to get started"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>