<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-empty">
                <li class="breadcrumb-item active" aria-current="page">Multi-Variable Multi-Site</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container">

    <app-alert-display></app-alert-display>

    <div class="row">
        <div class="col">
            <h2 class="d-inline-block">Multi-Variable Multi-Site</h2>
        </div>
    </div>
    <div class="row mt-1 mb-2">
        <div class="col">
            <custom-rich-text [customRichTextTypeID]="richTextTypeID"></custom-rich-text>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-sm-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header text-center">
                    Station Selection
                </div>
                <div class="card-body table-responsive">
                    <div class="row">
                        <div class="col-md-8">
                            <div #mapDiv id={{mapID}} class="location-card" [style.min-height]="mapHeight"
                                style="height:100%"></div>
                        </div>
                        <div class="col-md-4">
                            <ng-container *ngIf="!selectedSiteName">
                                <p>Click a station on the map to get started!</p>
                            </ng-container>
                            <ng-container *ngIf="selectedSiteName">
                                <dl class="row">
                                    <dt class="text-sm-left col-sm-6 col-xs-12">Selected Station:</dt>
                                    <dd class="col-sm-6 col-xs-12">
                                        {{selectedSiteName}}
                                    </dd>
                                </dl>
                                <dl class="row">
                                    <dt class="text-sm-left col-sm-6 col-xs-12">Data Available:</dt>
                                </dl>
                                <dl class="row" style="max-height:600px; overflow-y:auto">
                                    <dt *ngIf="gettingAvailableVariables"
                                        class="text-sm-left col-sm-9 offset-sm-1 col-xs-12">
                                        Fetching available variables <span class="fa fa-spinner loading-spinner"></span>
                                    </dt>
                                    <ng-container *ngIf="!gettingAvailableVariables">
                                        <span class="text-sm-left col-sm-11 offset-sm-1 col-xs-12 mb-1"
                                            *ngIf="!siteSelectedAndVariablesFound()">No variables found for selected
                                            station. Please make another selection</span>
                                        <ng-container *ngIf="siteSelectedAndVariablesFound()">
                                            <dt class="text-sm-left col-sm-11 offset-sm-1 col-xs-12 mb-1"
                                                *ngFor="let variable of selectedSiteAvailableVariables">
                                                <div class="row no-gutters">
                                                    <div class="col-9">
                                                        {{variable.name}}
                                                        <br />
                                                        <ng-container *ngIf="variable.gage != null">
                                                            <small style="font-weight:400">Gage:
                                                                {{variable.gage}}</small>
                                                            <br />
                                                        </ng-container>
                                                        <small style="font-weight:400"
                                                            *ngIf="variable.startDate != null && variable.endDate != null">Record:
                                                            {{variable.startDate}} -
                                                            {{variable.endDate}}</small>
                                                    </div>
                                                    <div class="col-3 align-self-center text-center">
                                                        <button class="btn btn-sm btn-nebula"
                                                            [disabled]="!variableNotPresentInSelectedVariables(variable) || isActionBeingPerformed()"
                                                            (click)="addVariableToSelection(variable)">Add</button>
                                                    </div>
                                                </div>
                                            </dt>
                                        </ng-container>
                                    </ng-container>
                                </dl>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-sm-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header text-center">
                    <span class="align-middle">Selected Data</span>
                    <button (click)="clearAllVariables()"
                        [disabled]="selectedVariables.length == 0 || isActionBeingPerformed()"
                        class="float-right btn btn-sm btn-nebula">Clear All</button>
                </div>
                <div class="card-body table-responsive">
                    <ngContainer *ngIf="selectedVariables.length > 0">
                        <div class="selected-variable" *ngFor="let variable of selectedVariables; let i = index">
                            <span>{{variable.stationShortName}} - {{variable.name}}</span>
                            <button (click)="removeVariableFromSelection(i)" [disabled]="isActionBeingPerformed()"
                                type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </ngContainer>
                    <div *ngIf="selectedVariables.length == 0" class="row">
                        <div class="col text-center">
                            Select a station on the map and an applicable variable to get started!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-sm-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header text-center" #timeSeriesCard>
                    Timeseries View and Download
                </div>
                <div class="card-body table-responsive">
                    <div *ngIf="selectedVariables.length == 0" class="row">
                        <div class="col text-center">
                            Select a station on the map and an applicable variable to get started!
                        </div>
                    </div>
                    <div *ngIf="selectedVariables.length > 0" class="row">
                        <ng-container *ngIf="lyraMessages.length > 0">
                            <div class="col-12" *ngFor="let alert of lyraMessages; let i = index">
                                <ngb-alert [type]="alert.context"
                                [dismissible]="alert.dismissable" (close)="closeAlert(i)">
                                <span [innerHTML]="alert.message"></span>
                            </ngb-alert>
                            </div>
                        </ng-container>
                        <div class="col-lg-6">
                            <form [formGroup]="timeSeriesForm" (ngSubmit)="onSubmit()" class="form-inline">
                                <div *ngIf="errorMessage" class="alert alert-danger">
                                    {{errorMessage}}
                                </div>
                                <div class="form-group w-100 mb-1">
                                    <label for="startDate"
                                        class="col-sm-6 col-form-label required justify-content-start justify-content-sm-end">Start
                                        Date</label>
                                    <div class="input-group col-sm-6">
                                        <input formControlName="startDate" id="startDate" type="text" ngbDatepicker
                                            #start="ngbDatepicker" placeholder="yyyy-mm-dd" (click)="start.toggle()"
                                            class="form-control">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="start.toggle()"
                                                type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                        </div>
                                    </div>

                                    <div *ngIf="f.startDate.touched && f.startDate.invalid" class="alert alert-danger col-sm-6 offset-sm-6 mt-1">
                                        <div *ngIf="f.startDate.errors.required">Date is required.</div>
                                        <div *ngIf="f.startDate.errors.ngbDate?.invalid">Date must be in the format 'yyyy-mm-dd'</div>
                                    </div>
                                </div>
                                <div class="form-group w-100 mb-1">
                                    <label for="endDate"
                                        class="col-sm-6 col-form-label required justify-content-start justify-content-sm-end">End
                                        Date</label>
                                    <div class="input-group col-sm-6">
                                        <input formControlName="endDate" id="endDate" type="text" ngbDatepicker
                                            #end="ngbDatepicker" placeholder="yyyy-mm-dd" (click)="end.toggle()"
                                            class="form-control">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="end.toggle()"
                                                type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                        </div>
                                    </div>

                                    <div *ngIf="f.endDate.touched && f.endDate.invalid" class="alert alert-danger col-sm-6 offset-sm-6 mt-1">
                                        <div *ngIf="f.endDate.errors.required">Date is required.</div>
                                        <div *ngIf="f.endDate.errors.ngbDate?.invalid">Date must be in the format 'yyyy-mm-dd'</div>
                                    </div>
                                </div>
                                <ngContainer formArrayName="siteVariablesToQuery" class="form-group w-100 mb-1">
                                    <ngContainer *ngFor="let control of siteVariablesToQuery().controls; let i=index"
                                        class="form-group w-100 mb-1" [formGroupName]="i">
                                        <div class="selected-variable mb-1">
                                            <span>{{control.value.variable.stationShortName}}</span> -
                                            <span>{{control.value.variable.name}}</span>
                                        </div>
                                        <div class="form-group w-100 mb-1">
                                            <label for="timeInterval"
                                                class="col-sm-6 col-form-label required justify-content-start justify-content-sm-end d-flex">
                                                <field-definition [fieldDefinitionType]="'TimeInterval'">
                                                </field-definition>
                                            </label>
                                            <div class="col w-100">
                                                <select formControlName="timeInterval" id="timeInterval"
                                                    class="form-control">
                                                    <option *ngFor="let interval of hydstraIntervals"
                                                        [value]="interval.value">
                                                        {{interval.display}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div *ngIf="siteVariablesToQuery().controls[i].get('timeInterval').touched && siteVariablesToQuery().controls[i].get('timeInterval').invalid" class="alert alert-danger col-sm-6 offset-sm-6 mt-1">
                                                <div *ngIf="siteVariablesToQuery().controls[i].get('timeInterval').errors.required">Time Interval is required.</div>
                                            </div>
                                        </div>
                                        <div class="form-group w-100 mb-1">
                                            <label for="filter"
                                            class="col-sm-6 col-form-label required justify-content-start justify-content-sm-end d-flex">
                                                Filter
                                                <!-- <field-definition [fieldDefinitionType]="'Filter'"></field-definition> -->
                                            </label>
                                            <div class="col w-100">
                                                <select formControlName="filter" id="filter" class="form-control">
                                                    <option *ngFor="let filter of hydstraFilters"
                                                        [value]="filter.value">
                                                        {{filter.display}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div *ngIf="siteVariablesToQuery().controls[i].get('filter').touched && siteVariablesToQuery().controls[i].get('filter').invalid" class="alert alert-danger col-sm-6 offset-sm-6 mt-1">
                                                <div *ngIf="siteVariablesToQuery().controls[i].get('filter').errors.required">Filter is required.</div>
                                            </div>
                                        </div>
                                        <div class="form-group w-100 mb-1">
                                            <label for="aggregationMode"
                                                class="col-sm-6 col-form-label required justify-content-start justify-content-sm-end d-flex">
                                                <field-definition [fieldDefinitionType]="'AggregationMode'">
                                                </field-definition>
                                            </label>
                                            <div class="col-sm-6 w-100">
                                                <select formControlName="aggregationMode" id="aggregationMode"
                                                    class="form-control">
                                                    <option
                                                        *ngFor="let mode of getAvailableAggregationModes(control.value.variable)"
                                                        [value]="mode.value">
                                                        {{mode.display}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div *ngIf="siteVariablesToQuery().controls[i].get('aggregationMode').touched && siteVariablesToQuery().controls[i].get('aggregationMode').invalid" class="alert alert-danger col-sm-6 offset-sm-6 mt-1">
                                                <div *ngIf="siteVariablesToQuery().controls[i].get('aggregationMode').errors.required">Aggregation Mode is required.</div>
                                            </div>
                                        </div>
                                    </ngContainer>
                                </ngContainer>
                                <div class="ml-auto">
                                    Required Field <i class="fas fa-bolt"></i>
                                    <br />
                                    <button type="submit" class="btn btn-nebula btn-sm mt-4 float-right"
                                        [disabled]="isActionBeingPerformed()">
                                        <span *ngIf="gettingTimeSeriesData"
                                            class="fa fa-spinner loading-spinner"></span>
                                        Submit</button>
                                </div>
                            </form>
                        </div>
                        <div *ngIf="siteSelectedAndVariablesFound()" class="col-lg-6">
                            <ngContainer *ngIf="!vegaSpec && !errorOccurred">
                                <span *ngIf="gettingTimeSeriesData">Loading chart values <span
                                        class="fa fa-spinner loading-spinner"></span></span>
                                <span *ngIf="!isActionBeingPerformed() && !gettingAvailableVariables">Choose some
                                    metrics to
                                    get started</span>
                            </ngContainer>
                            <span *ngIf="errorOccurred">Operation was unsuccessful. Please make another selection and
                                try again.</span>
                            <button *ngIf="currentlyDisplayingRequestDto" (click)="downloadChartData()"
                                class="btn btn-sm btn-nebula mb-1 mt-1 mt-lg-0 float-right float-lg-left" [disabled]="isActionBeingPerformed()">
                                <span *ngIf="downloadingChartData"
                                    class="fa fa-spinner loading-spinner"></span>Download</button>
                            <div [ngStyle]="{'visibility':vegaSpec ? '' : 'hidden'}" id="vis" style="width:100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>