<div #stationSelectContainer>
    <div class="form-group row mb-1">
        <div class="col-12">
            <label for="filter"
            class="col-form-label">
                Filter Sites By:
            </label>
            <div class="d-inline-block ml-1">
                <select [(ngModel)]="selectedStationFilter" id="filter" class="form-control" (change)="updateMarkerDisplay()" >
                    <option *ngFor="let type of stationFilterTypes" [ngValue]="type">
                        {{type.Display}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div id={{mapID}} class="location-card"
                                    style="height:100%" [style.min-height]="mapHeight"></div>
</div>