<div class="breadcrumb-container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-empty">
                <li class="breadcrumb-item active" aria-current="page">Time Series Analysis</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container">

    <app-alert-display></app-alert-display>

    <div class="row">
        <div class="col">
            <h2 class="d-inline-block">Time Series Analysis</h2>
        </div>
    </div>
    <div class="row mt-1 mb-2">
        <div class="col">
            <custom-rich-text [customRichTextTypeID]="richTextTypeID"></custom-rich-text>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-sm-4">
        <div class="col-sm-12">
            <station-select-card [(selectedVariables)]="selectedVariables" [mapID]="mapID"
                [disableAddingVariables]="isActionBeingPerformed()"
                [canAddDuplicateVariable]="true"
                (addingVariableEvent)="addVariableToSelection($event)"></station-select-card>
        </div>
    </div>
    <div class="row mt-sm-4">
        <div class="col-sm-12">
            <selected-data-card [(selectedVariables)]="selectedVariables" [disableActions]="isActionBeingPerformed()"
                (singleVariableRemoved)="removeVariableFromSelection($event)"
                (allVariablesCleared)="clearAllVariables()"></selected-data-card>
        </div>
    </div>
    <div class="row mt-sm-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header text-center" #timeSeriesCard>
                    Time Series View and Download
                </div>
                <div class="card-body table-responsive">
                    <div *ngIf="selectedVariables.length == 0" class="row">
                        <div class="col text-center">
                            Select a station on the map and an applicable variable to get started!
                        </div>
                    </div>
                    <div *ngIf="selectedVariables.length > 0" class="row">
                        <ng-container *ngIf="lyraMessages.length > 0">
                            <div class="col-12" *ngFor="let alert of lyraMessages; let i = index">
                                <ngb-alert [type]="alert.context" [dismissible]="alert.dismissable"
                                    (close)="closeAlert(i)">
                                    <span [innerHTML]="alert.message"></span>
                                </ngb-alert>
                            </div>
                        </ng-container>
                        <div class="col-lg-6">
                            <form [formGroup]="timeSeriesForm" (ngSubmit)="onSubmit()" class="form-inline">
                                <div *ngIf="errorMessage" class="alert alert-danger">
                                    {{errorMessage}}
                                </div>
                                <div class="form-group w-100 mb-1">
                                    <label for="startDate"
                                        class="col-sm-6 col-form-label justify-content-start justify-content-sm-end">Start
                                        Date</label>
                                    <div class="input-group col-sm-6">
                                        <input formControlName="startDate" id="startDate" type="text" ngbDatepicker
                                            container="body" #start="ngbDatepicker" placeholder="yyyy-mm-dd"
                                            (click)="start.toggle()" class="form-control">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="start.toggle()"
                                                type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                        </div>
                                    </div>

                                    <div *ngIf="f.startDate.touched && f.startDate.invalid"
                                        class="alert alert-danger col-sm-6 offset-sm-6 mt-1">
                                        <div *ngIf="f.startDate.errors.required">Date is required.</div>
                                        <div *ngIf="f.startDate.errors.ngbDate?.invalid">Date must be in the format
                                            'yyyy-mm-dd'</div>
                                    </div>
                                </div>
                                <div class="form-group w-100 mb-1">
                                    <label for="endDate"
                                        class="col-sm-6 col-form-label justify-content-start justify-content-sm-end">End
                                        Date</label>
                                    <div class="input-group col-sm-6">
                                        <input formControlName="endDate" id="endDate" type="text" ngbDatepicker
                                            container="body" #end="ngbDatepicker" placeholder="yyyy-mm-dd"
                                            (click)="end.toggle()" class="form-control">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="end.toggle()"
                                                type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                        </div>
                                    </div>

                                    <div *ngIf="f.endDate.touched && f.endDate.invalid"
                                        class="alert alert-danger col-sm-6 offset-sm-6 mt-1">
                                        <div *ngIf="f.endDate.errors.required">Date is required.</div>
                                        <div *ngIf="f.endDate.errors.ngbDate?.invalid">Date must be in the format
                                            'yyyy-mm-dd'</div>
                                    </div>
                                </div>
                                <ngContainer formArrayName="siteVariablesToQuery" class="form-group w-100 mb-1">
                                    <ngContainer *ngFor="let control of siteVariablesToQuery().controls; let i=index"
                                        class="form-group w-100 mb-1" [formGroupName]="i">
                                        <div class="selected-variable mb-1">
                                            <span>{{control.value.variable.stationShortName}}</span> -
                                            <span>{{control.value.variable.name}}</span>
                                        </div>
                                        <div class="form-group w-100 mb-1">
                                            <label for="timeInterval"
                                                class="col-sm-6 col-form-label justify-content-start justify-content-sm-end d-flex">
                                                <field-definition [fieldDefinitionType]="'TimeInterval'">
                                                </field-definition>
                                            </label>
                                            <div class="col w-100">
                                                <select formControlName="timeInterval" id="timeInterval"
                                                    class="form-control">
                                                    <option *ngFor="let interval of hydstraIntervals"
                                                        [value]="interval.value">
                                                        {{interval.key}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div *ngIf="siteVariablesToQuery().controls[i].get('timeInterval').touched && siteVariablesToQuery().controls[i].get('timeInterval').invalid"
                                                class="alert alert-danger col-sm-6 offset-sm-6 mt-1">
                                                <div
                                                    *ngIf="siteVariablesToQuery().controls[i].get('timeInterval').errors.required">
                                                    Time Interval is required.</div>
                                            </div>
                                        </div>
                                        <div class="form-group w-100 mb-1">
                                            <label for="weatherCondition"
                                                class="col-sm-6 col-form-label justify-content-start justify-content-sm-end d-flex">
                                                <field-definition [fieldDefinitionType]="'WeatherCondition'"></field-definition>
                                            </label>
                                            <div class="col w-100">
                                                <select formControlName="weatherCondition" id="weatherCondition" class="form-control">
                                                    <option *ngFor="let weatherCondition of hydstraWeatherConditions"
                                                        [value]="weatherCondition.value">
                                                        {{weatherCondition.key}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div *ngIf="siteVariablesToQuery().controls[i].get('weatherCondition').touched && siteVariablesToQuery().controls[i].get('weatherCondition').invalid"
                                                class="alert alert-danger col-sm-6 offset-sm-6 mt-1">
                                                <div
                                                    *ngIf="siteVariablesToQuery().controls[i].get('weatherCondition').errors.required">
                                                    Weather Condition is required.</div>
                                            </div>
                                        </div>
                                        <div class="form-group w-100 mb-1">
                                            <label for="aggregationMethod"
                                                class="col-sm-6 col-form-label justify-content-start justify-content-sm-end d-flex">
                                                <field-definition [fieldDefinitionType]="'AggregationMethod'">
                                                </field-definition>
                                            </label>
                                            <div class="col-sm-6 w-100">
                                                <select formControlName="aggregationMethod" id="aggregationMethod"
                                                    class="form-control">
                                                    <option
                                                        *ngFor="let mode of getAvailableAggregationMethods(control.value.variable)"
                                                        [value]="mode.value">
                                                        {{mode.key}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div *ngIf="siteVariablesToQuery().controls[i].get('aggregationMethod').touched && siteVariablesToQuery().controls[i].get('aggregationMethod').invalid"
                                                class="alert alert-danger col-sm-6 offset-sm-6 mt-1">
                                                <div
                                                    *ngIf="siteVariablesToQuery().controls[i].get('aggregationMethod').errors.required">
                                                    Aggregation Mode is required.</div>
                                            </div>
                                        </div>
                                    </ngContainer>
                                </ngContainer>
                                <div class="ml-auto">
                                    
                                    <button type="submit" class="btn btn-nebula btn-sm mt-4 float-right"
                                        [disabled]="isActionBeingPerformed()">
                                        <span *ngIf="gettingTimeSeriesData"
                                            class="fa fa-spinner loading-spinner"></span>
                                        Submit</button>
                                </div>
                            </form>
                        </div>
                        <div *ngIf="selectedVariables != null  && selectedVariables.length > 0" class="col-lg-6">
                            <ngContainer *ngIf="!vegaSpec && !errorOccurred">
                                <span *ngIf="gettingTimeSeriesData">Loading chart values <span
                                        class="fa fa-spinner loading-spinner"></span></span>
                                <span *ngIf="!isActionBeingPerformed() && !gettingAvailableVariables">Complete and
                                    submit the form to get started</span>
                            </ngContainer>
                            <span *ngIf="errorOccurred">Operation was unsuccessful. Please make another selection and
                                try again.</span>
                            <ng-container *ngIf="vegaSpec && currentlyDisplayingRequestDto">
                                <link-to-analysis [linkText]="currentlyDisplayingRequestLinkText"></link-to-analysis>
                                <button  (click)="downloadChartData()"
                                class="btn btn-sm btn-nebula mb-1 mt-1 mt-lg-0 float-right"
                                [disabled]="isActionBeingPerformed()">
                                <span *ngIf="downloadingChartData"
                                    class="fa fa-spinner loading-spinner"></span>Download Data (.csv)</button>
                            </ng-container>
                            <div *ngIf="vegaSpec" id="vis" style="width:100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>